<ng-container *ngIf="loading|async; else notLoading">
    <button mat-icon-button disabled>
        
    </button>
</ng-container>
<ng-template #notLoading>
    <ng-container *ngIf="title; else notTitle">
        <button mat-icon-button (click)="toggleFav()">
            
            <ng-template #notFav>
                
            </ng-template>
        </button>
    </ng-container>

    <ng-template #notTitle>
        <span class="fake-link leftMargin" (click)="toggleFav()">
            
            <ng-template #notFav>
                
            </ng-template>
        </span>
    </ng-template>

</ng-template>