<ng-container *ngIf="state$ && state$|async as state">
    <button mat-button class="toggle-button" [matMenuTriggerFor]="menu" [class.warn-text]="!state.allSelected">
        
        <i *ngIf="state.config.iconClass" [class]="state.config.iconClass"></i>
        <span class="hide-mobile-inline">&ensp;{{state.config.title}}</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectAll()">
            Select All
        </button>
        <a *ngFor="let choice of state.choices" class="pad-left" mat-menu-item
            (click)="exclusiveSelect(choice)">

            <button mat-icon-button (click)="select($event, choice); false" [color]="choice.checked?'accent':'primary'">
                <ng-container *ngIf="choice.checked">
                    
                </ng-container>
                <ng-container *ngIf="!choice.checked">
                    
                </ng-container>
            </button>
            {{choice.display}}
        </a>
    </mat-menu>
</ng-container>