<div class="triumph-item">
    <div class="clan-child-header">
        <div class="clan-child-name">
            {{triumph.data.name}}

            <button mat-icon-button *ngIf="state.dTrackedTriumphIds[triumph.data.hash]!=true"
                (click)="state.trackTriumph(triumph.data)">
                
            </button>
            <button mat-icon-button *ngIf="state.dTrackedTriumphIds[triumph.data.hash]==true"
                (click)="state.untrackTriumph(triumph.data)">
                
            </button>            
        </div>
        <div class="clan-child-spacer"></div>
        <div class="clan-child-details">
            <button mat-stroked-button (click)="openTriumphDialog(triumph)">
                {{triumph.complete}} / {{triumph.total}} members

            </button>
        </div>
    </div>
    <div class="small-margin">
        <mat-progress-bar mode="determinate" [value]="triumph.complete*100/triumph.total">
        </mat-progress-bar>
        <div class="triumph-desc">
            {{triumph.data.score}} pts. {{triumph.data.desc}}
        </div>
    </div>
</div>