<ng-container *ngIf="plug.empty">
  
</ng-container>
<ng-container *ngIf="!plug.empty">
  
  <div class="inline-block">
    
    <i *ngIf="plug.pandaPve>0" class="icon-strike perk" [class.accent-text]="plug.pandaPve>1"
      [matTooltip]="plug.pandaPve>1?'This is the best PVE perk for this weapon':'This is a good PVE perk for this weapon'"></i>
    <span [matTooltip]="plug.desc" matTooltipClass="preserve-white-space">
      <span class="pad-right" *ngIf="plug.enhanced">
        
      </span>
      {{plug.name}}
    </span>
  </div>
  <div class="simple-darker-caption-no-margin" *ngIf="plug.requiredLevel">
    <ng-container *ngIf="currentLevel">
      
      
    </ng-container>
    Level {{plug.requiredLevel}}
  </div>
  
  <ng-container *ngIf="debugmode"> {{plug.hash}} {{plug.originTrait}} x
    <button mat-icon-button (click)="copyToClipboard()">
      
    </button>
  </ng-container>
</ng-container>