<ng-container *ngIf="season!=null">
    <span class="indicator" *ngIf="season==1" matTooltip="Last Wish Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==2" matTooltip="Garden of Salvation Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==3" matTooltip="Deepstone Crypt Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==4" matTooltip="Vault of Glass Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==5" matTooltip="Vow of the Disciple Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==6" matTooltip="King's Fall Raid slot">
        
    </span>
    <span class="indicator" *ngIf="season==0" matTooltip="Combat mod slot">
        
    </span>
    <span class="indicator" *ngIf="season==10" matTooltip="Artifice mod slot">
        
    </span>
</ng-container>