<div class="title-row">
    <div>
        <ng-container *ngIf="cntr!=null">
            {{cntr+1}}.&ensp;
        </ng-container>
        

        
        
        {{t.name}}
        <ng-container *ngIf="t.lowLinks!=null">                      
            <a [href]="t.lowLinks.mapLink" class="triumph-icon" *ngIf="t.lowLinks.mapLink!=null && t.lowLinks.mapLink!=null" target="_blank" rel="noopener">  </a>
            <a [href]="t.lowLinks.loreLink" class="triumph-icon" *ngIf="t.lowLinks.loreLink!=null && t.lowLinks.loreLink.length>1" target="_blank" rel="noopener"> </a>
            <a [href]="t.lowLinks.videoLink" class="triumph-icon" *ngIf="t.lowLinks.videoLink!=null && t.lowLinks.videoLink.length>1" target="_blank" rel="noopener"> </a>
          </ng-container>


        <ng-container *ngIf="debugmode">{{t.hash}}</ng-container>
        
        
                
        
        <br>
        <span class="simple-caption">
            <ng-container *ngFor="let p of t.path; index as i; last as isLast">
                <ng-container *ngIf="i>0">
                    <span class="fake-link" (click)="navigate.emit(p.hash)">{{p.path}}</span>
                    <ng-container *ngIf="debugmode">{{p.hash}} </ng-container>
                    <ng-container *ngIf="!isLast">
                        /
                    </ng-container>
                </ng-container>
            </ng-container>
        </span>
    </div>
</div>