<div *ngIf="!simple"
[ngStyle]="{
  'display': vertical?'flex':'flex',
  'flex-direction': vertical?'column': 'row'}"
>
  <div *ngIf="item.pandaPvp>0" class="godroll">
    &ensp;
  </div>
  <div *ngIf="item.pandaPve>0" class="godroll">
    <i 
      [matTooltip]="item.pandaPve>1?'This is a great roll for PvE':'This is a good roll for PvE'"
      class="icon-strike svg-inline--fa fa-w-16 fa-2x"
      [class.accent-text]="item.pandaPve>1"
      ></i>&ensp;
  </div>  
</div>
<ng-container *ngIf="simple">
  <ng-container *ngIf="item.pandaPvp>0">
    &ensp;
  </ng-container>
  <ng-container *ngIf="item.pandaPve>0">
    <i [matTooltip]="item.pandaPve>1?'This is a great roll for PvE':'This is a good roll for PvE'" class="icon-strike" [class.accent-text]="item.pandaPve>1"
      ></i>
  </ng-container>  
</ng-container>

<ng-container *ngIf="debugmode"> 
  <div>Pve: {{item.pandaPve}}</div> 
  <div>Pvp: {{item.pandaPvp}}</div>
</ng-container>